<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="FCL Suite"
            id="br.com.riselabs.fclcheck.commands.category">
      </category>
      <command
            name="Run FCLCheck"
            categoryId="br.com.riselabs.fclcheck.commands.category"
            id="br.com.riselabs.fclcheck.commands.fclcheckCommand">
      </command>
      <category
            id="br.com.riselabs.fclcheck.fclcheckNature.category"
            name="FCLCheck Nature commands">
      </category>
      <command
            categoryId="br.com.riselabs.fclcheck.fclcheckNature.category"
            defaultHandler="br.com.riselabs.fclcheck.builder.AddRemoveFCLCheckNatureHandler"
            id="br.com.riselabs.fclcheck.addRemoveFCLCheckNature"
            name="Add/RemoveFCLCheck Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="br.com.riselabs.fclcheck.commands.fclcheckCommand"
            class="br.com.riselabs.fclcheck.handlers.FclCheckHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="br.com.riselabs.fclcheck.commands.fclcheckCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="FCL Suite"
               mnemonic="M"
               id="br.com.riselabs.fclcheck.menus.dclsuiteMenu">
            <command
                  commandId="br.com.riselabs.fclcheck.commands.fclcheckCommand"
                  mnemonic="S"
                  id="br.com.riselabs.fclcheck.menus.dclsuiteCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="br.com.riselabs.fclcheck.toolbars.dclsuiteToolbar">
            <command
                  commandId="br.com.riselabs.fclcheck.commands.fclcheckCommand"
                  icon="icons/fclicon16.png"
                  id="br.com.riselabs.fclcheck.toolbars.dclsuiteCommand">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="br.com.riselabs.fclcheck.commands.fclcheckCommand"
               icon="icons/fclicon16.png"
               id="br.com.riselabs.fclcheck.popup.context">
               <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="br.com.riselabs.fclcheck.addRemoveFCLCheckNature"
               label="Disable FCLCheck nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="br.com.riselabs.fclcheck.fclcheckNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="br.com.riselabs.fclcheck.addRemoveFCLCheckNature"
               label="Enable FCLCheck nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="br.com.riselabs.fclcheck.fclcheckNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="fclcheckBuilder"
         name="FCLCheck Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="br.com.riselabs.fclcheck.builder.FCLCheckBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="fclcheckNature"
         name="FCLCheck Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="br.com.riselabs.fclcheck.builder.FCLCheckNature">
         </run>
      </runtime>
      <builder
            id="br.com.riselabs.fclcheck.fclcheckBuilder">
      </builder>
   </extension>
   <extension
         id="fclcheckProblem"
         name="FCLCheck Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   
</plugin>
